/* Generics */

#root {
    height: 100vh;
    background: linear-gradient(#009688 15%, #DADBD3 15%);
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


/* Utils */

.b-black {
    border: 2px dashed black;
}

.br-l-grey {
    border-right: 1px solid lightgray;
}

.bg-grey {
    background-color: #EAEAEA;
}

.bg-white {
    background-color: white;
}

.h-80vh {
    height: 80vh;
}

.w-1500px {
    width: 1500px;
}


/* Left col */

/* Left Header */
.left-header {
    height: 10%;
    background-color: #EAEAEA;
}

/* Notifications Panel */

.noti-panel {
    height: 11%;
    background-color: #8EDAFC;
}

.noti-icon {
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.noti-text-container a {
    color: #658B9A;
}

/* Contact Search Bar */

.contact-search-bar {
    height: 7%;
    background-color: #FAFAFA;
}

.contact-search-bar span {
    height: 38px;
}

.contact-search-bar input {
    max-width: 440px;
}

/* Contact Panel */

.contact-panel {
    height: 72%;
    overflow-y: scroll;
}

.contact {
    height: 80px;
    background-color: white;
    border-bottom: 2px solid #FBFBFB;
}

.contact.active {
    background-color: lightgrey;
    border-radius: 5px;
}

/* Right col */

.right i {
    font-size: 1.5rem;
}



/* Right Header */

.right-header {
    height: 10%;
    background-color: #EAEAEA;
}

.right-header-text-container p {
    color: #968A84;
}

/* Chat */

.chat {
    height: 82%;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
}

.message-container.sent {
    justify-content: flex-end;
}

.message-container.received {
    justify-content: flex-start;
}

.message-container.sent .message {
    background-color: #D5F9BA;
}

.message-container.received .message {
    background-color: white;
}

.message-container .message small {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #C2CDBB;
}

/* Typing Section */

.typing-section {
    height: 8%;
    background-color: #EAEAEA;
    max-width: 950px;
    margin: 0 auto;
}

.typing-section input {
    max-width: 850px;
}

.typing-section i {
    font-size: 1.5rem;
}