/* Generics */

#root {
    height: 100vh;
    background: linear-gradient(#009688 15%, #DADBD3 15%);
}


/* Utils */

.b-black {
    border: 2px dashed black;
}

.bg-white {
    background-color: white;
}

.h-80vh {
    height: 80vh;
}

.w-1500px {
    width: 1500px;
}


/* Left col */

.left-header {
    height: 10%;
    background-color: #EAEAEA;
}

.noti-panel {
    height: 11%;
    background-color: #8EDAFC;
}

.contact-search-bar {
    height: 7%;
    background-color: #FAFAFA;
}

.contact-panel {
    height: 72%;
    overflow-y: scroll;
}

.contact {
    height: 80px;
    background-color: white;
    border-bottom: 2px solid #FBFBFB;
}


/* Right col */

.right-header {
    height: 10%;
    background-color: #EAEAEA;
}

.chat {
    height: 82%;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
}

.typing-section {
    height: 8%;
    background-color: #EAEAEA;
}