/* Generics */

#root {
    height: 100vh;
    background: linear-gradient(#009688 15%, #DADBD3 15%);
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


/* Utils */

.b-black {
    border: 2px dashed black;
}

.br-l-grey {
    border-right: 1px solid lightgray;
}

.bg-white {
    background-color: white;
}

.h-80vh {
    height: 80vh;
}

.w-1500px {
    width: 1500px;
}


/* Left col */

.left-header {
    height: 10%;
    background-color: #EAEAEA;
}

.noti-panel {
    height: 11%;
    background-color: #8EDAFC;
}

.contact-search-bar {
    height: 7%;
    background-color: #FAFAFA;
}

.contact-panel {
    height: 72%;
    overflow-y: scroll;
}

.contact {
    height: 80px;
    background-color: white;
    border-bottom: 2px solid #FBFBFB;
}

.right i {
    font-size: 1.5rem;
}

.noti-icon {
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.noti-text-container a {
    color: #658B9A;
}

.contact-search-bar span {
    height: 38px;
}

.contact-search-bar input {
    max-width: 440px;
}

/* Right col */

.right-header {
    height: 10%;
    background-color: #EAEAEA;
}

.chat {
    height: 82%;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
}

.typing-section {
    height: 8%;
    background-color: #EAEAEA;
}